.ContactData{
    margin:20px auto;
    width:80%;
    text-align: center;
    box-shadow: rgb(226, 221, 221) 1px 1px 1px 1px;
}
.Input{
    display: block;
}

@media(min-width:600px){
    .ContactData{
        width:500px;
    }
}